body
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.navbar
{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ie-border-radius: 0;
	border-radius: 0;
}
.navbar .navbar-brand
{
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 600;
}

@keyframes typing {
from { width: 0 }
}
@keyframes caret {
50% { border-color: transparent; }
}
.autoType {
width: 20ch; /* Width of text */
overflow: hidden;
white-space: nowrap;
border-right: .05em solid;
animation: typing 6s steps(15),
caret 1s steps(1) infinite;
}

.grid{
  float :left;
}
  .grid .cap {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    color: rgba(220, 220, 220);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
  }

  .grid:hover .cap {
    padding-top: 20%;
    height: 100%;
    transition: all 500ms ease-in-out 0s;
    opacity: 1;
    background: rgba(0, 0, 0, 0.9);
    color:#FFFFFF;
  }



  /*====================================
  =            buttons.html            =
  ====================================*/

  .btn-orange
  {
    border:2px solid #DC3023;
    border-radius: 5px;
    background:#DC3023;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-orange:hover
  {
    border:2px solid #DC3023;
    border-radius: 5px;
    background:transparent;
    color:#DC3023;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-crimson
  {
    border:2px solid #C91F37;
    border-radius: 5px;
    background:#C91F37;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-crimson:hover
  {
    border:2px solid #C91F37;
    border-radius: 5px;
    background:transparent;
    color:#C91F37;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-pomegranate
  {
    border:2px solid #F22613;
    border-radius: 5px;
    background:#F22613;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-pomegranate:hover
  {
    border:2px solid #F22613;
    border-radius: 5px;
    background:transparent;
    color:#F22613;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-one
  {
    border:2px solid #F08F90;
    border-radius: 5px;
    background:#F08F90;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-one:hover
  {
    border:2px solid #F08F90;
    border-radius: 5px;
    background:transparent;
    color:#F08F90;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-washed
  {
    border:2px solid #FFB3A7;
    border-radius: 5px;
    background:#FFB3A7;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-washed:hover
  {
    border:2px solid #FFB3A7;
    border-radius: 5px;
    background:transparent;
    color:#FFB3A7;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-wisteria
  {
    border:2px solid #89729E;
    border-radius: 5px;
    background:#89729E;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-wisteria:hover
  {
    border:2px solid #89729E;
    border-radius: 5px;
    background:transparent;
    color:#89729E;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-md-purple
  {
    border:2px solid #BF55EC;
    border-radius: 5px;
    background:#BF55EC;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-md-purple:hover
  {
    border:2px solid #BF55EC;
    border-radius: 5px;
    background:transparent;
    color:#BF55EC;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-ultramarine
  {
    border:2px solid #5D8CAE;
    border-radius: 5px;
    background:#5D8CAE;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-ultramarine:hover
  {
    border:2px solid #5D8CAE;
    border-radius: 5px;
    background:transparent;
    color:#5D8CAE;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-herb
  {
    border:2px solid #317589;
    border-radius: 5px;
    background:#317589;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-herb:hover
  {
    border:2px solid #317589;
    border-radius: 5px;
    background:transparent;
    color:#317589;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-jungle-green
  {
    border:2px solid #26C281;
    border-radius: 5px;
    background:#26C281;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-jungle-green:hover
  {
    border:2px solid #26C281;
    border-radius: 5px;
    background:transparent;
    color:#26C281;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-hanada
  {
    border:2px solid #044F67;
    border-radius: 5px;
    background:#044F67;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-hanada:hover
  {
    border:2px solid #044F67;
    border-radius: 5px;
    background:transparent;
    color:#044F67;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-young-bamboo
  {
    border:2px solid #6B9362;
    border-radius: 5px;
    background:#6B9362;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-young-bamboo:hover
  {
    border:2px solid #6B9362;
    border-radius: 5px;
    background:transparent;
    color:#6B9362;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-speech
  {
    border:2px solid #03A678;
    border-radius: 5px;
    background:#03A678;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-speech:hover
  {
    border:2px solid #03A678;
    border-radius: 5px;
    background:transparent;
    color:#03A678;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-jap-grass
  {
    border:2px solid #E2B13C;
    border-radius: 5px;
    background:#E2B13C;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-jap-grass:hover
  {
    border:2px solid #E2B13C;
    border-radius: 5px;
    background:transparent;
    color:#E2B13C;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-cararra
  {
    border:2px solid #F2F1EF;
    border-radius: 5px;
    background:#F2F1EF;
    color:#333333;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-cararra:hover
  {
    border:2px solid #F2F1EF;
    border-radius: 5px;
    background:transparent;
    color:#333333;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-sumac
  {
    border:2px solid #E08A1E;
    border-radius: 5px;
    background:#E08A1E;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-sumac:hover
  {
    border:2px solid #E08A1E;
    border-radius: 5px;
    background:transparent;
    color:#E08A1E;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-gallery
  {
    border:2px solid #EEEEEE;
    border-radius: 5px;
    background:#EEEEEE;
    color:#333333;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-gallery:hover
  {
    border:2px solid #EEEEEE;
    border-radius: 5px;
    background:transparent;
    color:#333333;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-gold-leaves
  {
    border:2px solid #E29C45;
    border-radius: 5px;
    background:#E29C45;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-gold-leaves:hover
  {
    border:2px solid #E29C45;
    border-radius: 5px;
    background:transparent;
    color:#E29C45;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-scarlet
  {
    border:2px solid #CF3A24;
    border-radius: 5px;
    background:#CF3A24;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-scarlet:hover
  {
    border:2px solid #CF3A24;
    border-radius: 5px;
    background:transparent;
    color:#CF3A24;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-peach
  {
    border:2px solid #F47983;
    border-radius: 5px;
    background:#F47983;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-peach:hover
  {
    border:2px solid #F47983;
    border-radius: 5px;
    background:transparent;
    color:#F47983;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-radical
  {
    border:2px solid #F62459;
    border-radius: 5px;
    background:#F62459;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-radical:hover
  {
    border:2px solid #F62459;
    border-radius: 5px;
    background:transparent;
    color:#F62459;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-iris
  {
    border:2px solid #763568;
    border-radius: 5px;
    background:#763568;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-iris:hover
  {
    border:2px solid #763568;
    border-radius: 5px;
    background:transparent;
    color:#763568;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-sand
  {
    border:2px solid #BDC3C7;
    border-radius: 5px;
    background:#BDC3C7;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-sand:hover
  {
    border:2px solid #BDC3C7;
    border-radius: 5px;
    background:transparent;
    color:#BDC3C7;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-studio
  {
    border:2px solid #8E44AD;
    border-radius: 5px;
    background:#8E44AD;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-studio:hover
  {
    border:2px solid #8E44AD;
    border-radius: 5px;
    background:transparent;
    color:#8E44AD;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-piction-blue
  {
    border:2px solid #22A7F0;
    border-radius: 5px;
    background:#22A7F0;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-piction-blue:hover
  {
    border:2px solid #22A7F0;
    border-radius: 5px;
    background:transparent;
    color:#22A7F0;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-jordy-blue
  {
    border:2px solid #89C4F4;
    border-radius: 5px;
    background:#89C4F4;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-jordy-blue:hover
  {
    border:2px solid #89C4F4;
    border-radius: 5px;
    background:transparent;
    color:#89C4F4;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-indigo
  {
    border:2px solid #264348;
    border-radius: 5px;
    background:#264348;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-indigo:hover
  {
    border:2px solid #264348;
    border-radius: 5px;
    background:transparent;
    color:#264348;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-patina
  {
    border:2px solid #407A52;
    border-radius: 5px;
    background:#407A52;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-patina:hover
  {
    border:2px solid #407A52;
    border-radius: 5px;
    background:transparent;
    color:#407A52;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-seed-oil
  {
    border:2px solid #A17917;
    border-radius: 5px;
    background:#A17917;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-seed-oil:hover
  {
    border:2px solid #A17917;
    border-radius: 5px;
    background:transparent;
    color:#A17917;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-observatory
  {
    border:2px solid #049372;
    border-radius: 5px;
    background:#049372;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-observatory:hover
  {
    border:2px solid #049372;
    border-radius: 5px;
    background:transparent;
    color:#049372;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-gamboge
  {
    border:2px solid #FFB61E;
    border-radius: 5px;
    background:#FFB61E;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-gamboge:hover
  {
    border:2px solid #FFB61E;
    border-radius: 5px;
    background:transparent;
    color:#FFB61E;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-ocean-green
  {
    border:2px solid #4DAF7C;
    border-radius: 5px;
    background:#4DAF7C;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-ocean-green:hover
  {
    border:2px solid #4DAF7C;
    border-radius: 5px;
    background:transparent;
    color:#4DAF7C;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-edward
  {
    border:2px solid #ABB7B7;
    border-radius: 5px;
    background:#ABB7B7;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-edward:hover
  {
    border:2px solid #ABB7B7;
    border-radius: 5px;
    background:transparent;
    color:#ABB7B7;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-tasy
  {
    border:2px solid #F9690E;
    border-radius: 5px;
    background:#F9690E;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-tasy:hover
  {
    border:2px solid #F9690E;
    border-radius: 5px;
    background:transparent;
    color:#F9690E;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-neal-red
  {
    border:2px solid #9D2933;
    border-radius: 5px;
    background:#9D2933;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-neal-red:hover
  {
    border:2px solid #9D2933;
    border-radius: 5px;
    background:transparent;
    color:#9D2933;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-red-plum
  {
    border:2px solid #DB5A6B;
    border-radius: 5px;
    background:#DB5A6B;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-red-plum:hover
  {
    border:2px solid #DB5A6B;
    border-radius: 5px;
    background:transparent;
    color:#DB5A6B;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-pure-crimson
  {
    border:2px solid #C3272B;
    border-radius: 5px;
    background:#C3272B;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-pure-crimson:hover
  {
    border:2px solid #C3272B;
    border-radius: 5px;
    background:transparent;
    color:#C3272B;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-wing
  {
    border:2px solid #F58F84;
    border-radius: 5px;
    background:#F58F84;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-wing:hover
  {
    border:2px solid #F58F84;
    border-radius: 5px;
    background:transparent;
    color:#F58F84;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-tatarian
  {
    border:2px solid #8D608C;
    border-radius: 5px;
    background:#8D608C;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-tatarian:hover
  {
    border:2px solid #8D608C;
    border-radius: 5px;
    background:transparent;
    color:#8D608C;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-wister
  {
    border:2px solid #9B59B6;
    border-radius: 5px;
    background:#9B59B6;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-wister:hover
  {
    border:2px solid #9B59B6;
    border-radius: 5px;
    background:transparent;
    color:#9B59B6;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-dodger-blue
  {
    border:2px solid #19B5FE;
    border-radius: 5px;
    background:#19B5FE;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-dodger-blue:hover
  {
    border:2px solid #19B5FE;
    border-radius: 5px;
    background:transparent;
    color:#19B5FE;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-siskin
  {
    border:2px solid #7A942E;
    border-radius: 5px;
    background:#7A942E;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-siskin:hover
  {
    border:2px solid #7A942E;
    border-radius: 5px;
    background:transparent;
    color:#7A942E;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-steel-blue
  {
    border:2px solid #4B77BE;
    border-radius: 5px;
    background:#4B77BE;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-steel-blue:hover
  {
    border:2px solid #4B77BE;
    border-radius: 5px;
    background:transparent;
    color:#4B77BE;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-green-bamboo
  {
    border:2px solid #006442;
    border-radius: 5px;
    background:#006442;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-green-bamboo:hover
  {
    border:2px solid #006442;
    border-radius: 5px;
    background:transparent;
    color:#006442;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-flower
  {
    border:2px solid #D9B611;
    border-radius: 5px;
    background:#D9B611;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-flower:hover
  {
    border:2px solid #D9B611;
    border-radius: 5px;
    background:transparent;
    color:#D9B611;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-light-green
  {
    border:2px solid #2ABB9B;
    border-radius: 5px;
    background:#2ABB9B;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-light-green:hover
  {
    border:2px solid #2ABB9B;
    border-radius: 5px;
    background:transparent;
    color:#2ABB9B;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-cream
  {
    border:2px solid #F5D76E;
    border-radius: 5px;
    background:#F5D76E;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-cream:hover
  {
    border:2px solid #F5D76E;
    border-radius: 5px;
    background:transparent;
    color:#F5D76E;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-amber
  {
    border:2px solid #CA6924;
    border-radius: 5px;
    background:#CA6924;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-amber:hover
  {
    border:2px solid #CA6924;
    border-radius: 5px;
    background:transparent;
    color:#CA6924;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-corn
  {
    border:2px solid #FAA945;
    border-radius: 5px;
    background:#FAA945;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-corn:hover
  {
    border:2px solid #FAA945;
    border-radius: 5px;
    background:transparent;
    color:#FAA945;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-porcelain
  {
    border:2px solid #ECF0F1;
    border-radius: 5px;
    background:#ECF0F1;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-porcelain:hover
  {
    border:2px solid #ECF0F1;
    border-radius: 5px;
    background:transparent;
    color:#ECF0F1;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-lynch
  {
    border:2px solid #6C7A89;
    border-radius: 5px;
    background:#6C7A89;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-lynch:hover
  {
    border:2px solid #6C7A89;
    border-radius: 5px;
    background:transparent;
    color:#6C7A89;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-cascade
  {
    border:2px solid #95A5A6;
    border-radius: 5px;
    background:#95A5A6;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-cascade:hover
  {
    border:2px solid #95A5A6;
    border-radius: 5px;
    background:transparent;
    color:#95A5A6;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-light-yellow
  {
    border:2px solid #F5AB35;
    border-radius: 5px;
    background:#F5AB35;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-light-yellow:hover
  {
    border:2px solid #F5AB35;
    border-radius: 5px;
    background:transparent;
    color:#F5AB35;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-pumice
  {
    border:2px solid #D2D7D3;
    border-radius: 5px;
    background:#D2D7D3;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-pumice:hover
  {
    border:2px solid #D2D7D3;
    border-radius: 5px;
    background:transparent;
    color:#D2D7D3;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-egg
  {
    border:2px solid #FFA631;
    border-radius: 5px;
    background:#FFA631;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-egg:hover
  {
    border:2px solid #FFA631;
    border-radius: 5px;
    background:transparent;
    color:#FFA631;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-meadow
  {
    border:2px solid #16A085;
    border-radius: 5px;
    background:#16A085;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-meadow:hover
  {
    border:2px solid #16A085;
    border-radius: 5px;
    background:transparent;
    color:#16A085;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-saffron
  {
    border:2px solid #F4D03F;
    border-radius: 5px;
    background:#F4D03F;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-saffron:hover
  {
    border:2px solid #F4D03F;
    border-radius: 5px;
    background:transparent;
    color:#F4D03F;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-gossip
  {
    border:2px solid #87D37C;
    border-radius: 5px;
    background:#87D37C;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-gossip:hover
  {
    border:2px solid #87D37C;
    border-radius: 5px;
    background:transparent;
    color:#87D37C;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-cork
  {
    border:2px solid #F3C13A;
    border-radius: 5px;
    background:#F3C13A;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-cork:hover
  {
    border:2px solid #F3C13A;
    border-radius: 5px;
    background:transparent;
    color:#F3C13A;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-green-onion
  {
    border:2px solid #8DB255;
    border-radius: 5px;
    background:#8DB255;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-green-onion:hover
  {
    border:2px solid #8DB255;
    border-radius: 5px;
    background:transparent;
    color:#8DB255;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-lapis
  {
    border:2px solid #1F4788;
    border-radius: 5px;
    background:#1F4788;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-lapis:hover
  {
    border:2px solid #1F4788;
    border-radius: 5px;
    background:transparent;
    color:#1F4788;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-light-wister
  {
    border:2px solid #BE90D4;
    border-radius: 5px;
    background:#BE90D4;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-light-wister:hover
  {
    border:2px solid #BE90D4;
    border-radius: 5px;
    background:transparent;
    color:#BE90D4;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-piction-blue
  {
    border:2px solid #59ABE3;
    border-radius: 5px;
    background:#59ABE3;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-piction-blue:hover
  {
    border:2px solid #59ABE3;
    border-radius: 5px;
    background:transparent;
    color:#59ABE3;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-thin
  {
    border:2px solid #A87CA0;
    border-radius: 5px;
    background:#A87CA0;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-thin:hover
  {
    border:2px solid #A87CA0;
    border-radius: 5px;
    background:transparent;
    color:#A87CA0;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-purple-wister
  {
    border:2px solid #875F9A;
    border-radius: 5px;
    background:#875F9A;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-purple-wister:hover
  {
    border:2px solid #875F9A;
    border-radius: 5px;
    background:transparent;
    color:#875F9A;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-md-crimson
  {
    border:2px solid #C93756;
    border-radius: 5px;
    background:#C93756;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-md-crimson:hover
  {
    border:2px solid #C93756;
    border-radius: 5px;
    background:transparent;
    color:#C93756;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-true-red
  {
    border:2px solid #8F1D21;
    border-radius: 5px;
    background:#8F1D21;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-true-red:hover
  {
    border:2px solid #8F1D21;
    border-radius: 5px;
    background:transparent;
    color:#8F1D21;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-monza
  {
    border:2px solid #CF000F;
    border-radius: 5px;
    background:#CF000F;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-monza:hover
  {
    border:2px solid #CF000F;
    border-radius: 5px;
    background:transparent;
    color:#CF000F;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-mustard-brown
  {
    border:2px solid #E68364;
    border-radius: 5px;
    background:#E68364;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-mustard-brown:hover
  {
    border:2px solid #E68364;
    border-radius: 5px;
    background:transparent;
    color:#E68364;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-rose
  {
    border:2px solid #D24D57;
    border-radius: 5px;
    background:#D24D57;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-rose:hover
  {
    border:2px solid #D24D57;
    border-radius: 5px;
    background:transparent;
    color:#D24D57;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-cherry-blossom
  {
    border:2px solid #FCC9B9;
    border-radius: 5px;
    background:#FCC9B9;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-cherry-blossom:hover
  {
    border:2px solid #FCC9B9;
    border-radius: 5px;
    background:transparent;
    color:#FCC9B9;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-bell-flower
  {
    border:2px solid #5D3F6A;
    border-radius: 5px;
    background:#5D3F6A;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-bell-flower:hover
  {
    border:2px solid #5D3F6A;
    border-radius: 5px;
    background:transparent;
    color:#5D3F6A;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-violet
  {
    border:2px solid #5B3256;
    border-radius: 5px;
    background:#5B3256;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-violet:hover
  {
    border:2px solid #5B3256;
    border-radius: 5px;
    background:transparent;
    color:#5B3256;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-sky
  {
    border:2px solid #4D8FAC;
    border-radius: 5px;
    background:#4D8FAC;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-sky:hover
  {
    border:2px solid #4D8FAC;
    border-radius: 5px;
    background:transparent;
    color:#4D8FAC;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-navy-blue
  {
    border:2px solid #003171;
    border-radius: 5px;
    background:#003171;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-navy-blue:hover
  {
    border:2px solid #003171;
    border-radius: 5px;
    background:transparent;
    color:#003171;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-light-blue
  {
    border:2px solid #48929B;
    border-radius: 5px;
    background:#48929B;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-light-blue:hover
  {
    border:2px solid #48929B;
    border-radius: 5px;
    background:transparent;
    color:#48929B;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-fresh-onion
  {
    border:2px solid #5B8930;
    border-radius: 5px;
    background:#5B8930;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-fresh-onion:hover
  {
    border:2px solid #5B8930;
    border-radius: 5px;
    background:transparent;
    color:#5B8930;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-turq
  {
    border:2px solid #36D7B7;
    border-radius: 5px;
    background:#36D7B7;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-turq:hover
  {
    border:2px solid #36D7B7;
    border-radius: 5px;
    background:transparent;
    color:#36D7B7;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-eucalyptus
  {
    border:2px solid #26A65B;
    border-radius: 5px;
    background:#26A65B;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-eucalyptus:hover
  {
    border:2px solid #26A65B;
    border-radius: 5px;
    background:transparent;
    color:#26A65B;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-lemon
  {
    border:2px solid #F7CA18;
    border-radius: 5px;
    background:#F7CA18;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-lemon:hover
  {
    border:2px solid #F7CA18;
    border-radius: 5px;
    background:transparent;
    color:#F7CA18;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-silver
  {
    border:2px solid #BFBFBF;
    border-radius: 5px;
    background:#BFBFBF;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-silver:hover
  {
    border:2px solid #BFBFBF;
    border-radius: 5px;
    background:transparent;
    color:#BFBFBF;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-gold
  {
    border:2px solid #FFA400;
    border-radius: 5px;
    background:#FFA400;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-gold:hover
  {
    border:2px solid #FFA400;
    border-radius: 5px;
    background:transparent;
    color:#FFA400;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-harbor
  {
    border:2px solid #757D75;
    border-radius: 5px;
    background:#757D75;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-harbor:hover
  {
    border:2px solid #757D75;
    border-radius: 5px;
    background:transparent;
    color:#757D75;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }

  .btn-leaf
  {
    border:2px solid #FFB94E;
    border-radius: 5px;
    background:#FFB94E;
    color:#ffffff;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }
  
  .btn-leaf:hover
  {
    border:2px solid #FFB94E;
    border-radius: 5px;
    background:transparent;
    color:#FFB94E;
    font-size: 16px;
    padding:10px;
    min-width: 100px;
    width:auto;
    transition:0.2s ease-in-out all;
  }